body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #555;
    font-weight: 300;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3 {
    font-weight: 300;
    margin: 0;
    font-family: 'Abel', sans-serif;
}

h1 {
    font-size: 40px;
    padding: 20px 0;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 26px;
}

hr {
    border-style: inset;
    border: none;
    border-top: 1px solid #42D8E9;
    margin-top: 40px;
    margin-bottom: 40px;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

ul {
    margin-left: 0;
    padding-left: 20px;
}

ul li {
    color: #fff;
    list-style: none;
    margin-bottom: 10px;
}

ul li:before {
    content: ">";
    color: #00B5D3;
    margin-right: 10px;
}

.row {
    max-width: 1080px;
    margin: auto;
    padding: 0 20px;
}

#header {
    height: 500px;
    background-image: url("../img/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-bottom: 8px solid #C8699D;
}

#header .welcome-text {
    padding-top: 200px;
    text-align: center;
    max-width: 800px;
    margin: auto;
}

#header .welcome-text h2 {
    color: #fff;
    font-weight: 300;
    font-size: 42px;
}

#main {
    background: #FCFEFF;
    padding: 40px 0;
}

#main:after {
    content: "";
    clear: both;
    position: relative;
    height: 1px;
    width: 1px;
    display: block;
}

#main h1, #main h2, #main h3 {
    color: #00B5D3;
}

#main a {
    color: #00B5D3;
}

@media screen and (min-width: 640px) {
    #content {
        width: 65%;
        float: left;
    }

    #aside {
        width: 30%;
        float: right;
    }
}

#aside {
    margin-top: 30px;
}

footer {
    height: 10px;
    background: #C8699D;
}

.donacions {
    background: #C8699D;
    color: #fff;
    padding: 10px 15px;
    text-align: center;
    margin: 15px 0;
}